
/* estilos titulos */
 
.pos_titulo{
    
    
    position: relative;
    top: -480px;
    left: 50%;
    
    
}
.pos_titulo1{
    position: relative;
    top: 28px;
    left: 9%;
    
}
/* estilos del inconos que permiten al  usuario ver una mejor interfaz */
.file.icon{
    color: black;
}



.ui.container{
    position: absolute;
    top: 50% ;
    left: 40%;
    
}

.ui.very.basic.collapsing.celled.table{
    position: relative;
    text-align: center;
    right: 11%;
}
.pos_botones{
    position: relative;
    top: -50px;
    left: -110px;
}
/* icono de problema en la tabla de descripciòn */
.archive.icon{
    position: relative;
    left: 11px;
    border:2px solid  rgb(66, 66, 66);
    border-radius: 20px;
    width: 25px;
    height: 22px;
    animation:  dur 2s infinite ;
}
.archive.icon:hover {
    color: teal;
    border: 3px solid rgb(136, 136, 136);

}



@keyframes dur{
    from{
        width: 6%;
    }
    to{
        width: 3;
    }
}

/* OTRO EFECTO DE TITULO , EFECTO MAQUINA DE ESCRIBIR */
.contenedor2{
    margin: auto;

    position: absolute;
    left: 10%;
    top: -200px;

}
/* posicion de la tabla de reportes */
.tabla_pos{
    position: relative;
    top:-60px;
    right: 35%;
}
